body {
    background-color: #3399ff;
    text-align: center;
    font-family: 'Short Stack', cursive;
}

h1 {
    color: white;
    font-size: 60px;
}

.headline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 130%;
    color: white;
}

h3 {
   margin-right: 10px;
   margin-top: 10px;
}


.x, .o {
    border-radius: 100%;
    background-color: #335891;
    font-size: 150%;
    height: 50px;
    width:50px;
    color: white;
    margin: 5px;
    border: 1px solid white;
    cursor: pointer;
}

.x:hover, .o:hover {
    background-color: turquoise;
}

table {
    /* display: none; */
    border-collapse: collapse;
    position: absolute;
    left: 50%;
    margin-left: -155px;
    top: 50px;
    margin-top: 200px;
}

td {
    color: white;
    border: 6px solid #333;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 70px;
    cursor: pointer;
}

.end {
width: 200px;
top: 120px;
background-color: rgba(106,165,224, 0.9);
position: relative;
left: 50%;
margin-left: -100px;
margin-top: -50px;
padding-top: 50px;
padding-bottom: 50px;
text-align: center;
border-radius: 5px;
color: white;
font-weight: bold;
font-size: 2em;
}

.endbutton {
    font-size: 35px;
    border-radius: 25px;
    background-color: #1a53ff;
    border-color: #1a53ff;
    color: white;
}

.win {
    background-color: green
}

.lose {
    background-color: red;
}

.ties {
    background-color: blue;
}
.display {
    display:none;
}